<div class="master-main-container col-sm-12 clearfix no-padding">

  <div class="wrapper">


    <header class="main-header">
      <!-- Logo -->
      <a href="index.html" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>D</b>P</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Dos</b>Pães</span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <app-user-menu></app-user-menu>
      </nav>
    </header>
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
    <footer class="main-footer">
      <div class="pull-right hidden-xs">
      </div>
      <strong>Copyright © 2020 </strong> All rights reserved.
    </footer>
  </div>
</div>